<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>TP5代码生成工具-</title>
</head>
<body>

	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="{:url('/')}">TP5代码生成工具</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							 <a href="{:url('index/page_model_step1')}">模型</a>
						</li>
						<li>
							 <a href="{:url('index/page_controller_step1')}">控制器</a>
						</li>
						<li>
							 <a href="{:url('index/addtable')}">验证器</a>
						</li>
						
						<li>
							 <a href="#" id="version"></a>
						</li>
					</ul>
					

					
				</div>
				
			</nav>
		</div>
	</div>
{__CONTENT__}  

</body>
</html>